* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: "Poppins", sans-serif;
   /* font-family: "Roboto", sans-serif; */
}
.loader {
   width: 100vw;
   height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
   position: absolute;
   z-index: 100;
   background-color: #ffffff6a;
   /* opacity: 0.5; */
   /* background-color: transparent 20%; */
   /* background-color: transparent; */
}
.loader img {
   width: 20%;
   opacity: 1;
}
body {
   background-color: #ebecf0;
}
nav {
   width: 100%;
   padding: 12px 0;
   background: #ecf0f3;
   box-shadow: -3px -3px 7px #ffffff, 3px 3px 5px #ceced1,
      inset -3px -3px 7px #ffffff, inset 3px 3px 5px #ceced1;
}
nav .menu {
   margin: auto;
   padding: 0 20px;
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.menu .logo a {
   font-size: 25px;
   font-weight: 600;
   text-decoration: none;
   color: #31344b;
}
.menu ul {
   list-style: none;
   display: flex;
}
.menu ul a {
   margin: 0 8px;
   text-decoration: none;
   font-size: 14px;
   color: #31344b;
   font-weight: 400;
   display: inline-flex;
   padding: 5px 10px;
   border-radius: 5px;
   box-shadow: -3px -3px 7px #ffffff, 3px 3px 5px #ceced1;
   position: relative;
   transition: all 0.3s ease;
}
.menu ul a:hover:before {
   content: "";
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   box-shadow: inset -3px -3px 7px #ffffff, inset 3px 3px 5px #ceced1;
}
.center {
   position: absolute;
   top: 50%;
   left: 50%;
   width: 100%;
   transform: translate(-50%, -50%);
   text-align: center;
}
.upper {
   font-size: 40px;
   font-weight: 600;
   color: #31344b;
}
.lower {
   font-size: 40px;
   font-weight: 600;
   color: #31344b;
}
.menu ul a:hover {
   color: #3498db;
}
nav label.btn {
   color: #31344b;
   font-size: 18px;
   cursor: pointer;
   display: none;
}
nav label.cancel {
   position: absolute;
   top: 25px;
   right: 30px;
}
#check {
   display: none;
}
@media (max-width: 940px) {
   .menu ul {
      display: block;
      position: fixed;
      top: 0;
      left: -100%;
      width: 100%;
      max-width: 400px;
      padding-top: 45px;
      height: 100%;
      background: #ecf0f3;
      box-shadow: 0 5px 10px #b0b0b5;
      z-index: 12;
      transition: all 0.3s ease;
   }
   .menu ul a {
      display: block;
      font-size: 10px;
      width: 100%;
      margin-top: 30px;
      box-shadow: none;
      text-align: center;
   }
   .menu ul a:hover:before {
      box-shadow: none;
   }
   nav label.bars {
      display: block;
   }
   #check:checked ~ label.bars {
      display: none;
   }
   #check:checked ~ ul label.cancel {
      display: block;
   }
   #check:checked ~ ul {
      left: 0;
   }
}

.hero {
   font-size: 10px;
   display: flex;
   justify-content: space-evenly;
}
h2 {
   font-weight: 600;
   font-size: 1.5em;
   margin: 1em 0 0 3em;
}
h3 {
   margin-top: 1.5em;
   font-weight: 500;
   color: red;
}
form {
   width: 70%;
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
   align-items: center;
   padding: 2em 4em;
}
.form-right,
.form-left {
   width: 50%;
}
.form-bottom {
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
}
button,
.field,
input[type="file"]::file-selector-button,
select,
option {
   border: 0;
   outline: 0;
   border-radius: 10px;
   padding: 0.45em;
   font-weight: 400;
   background-color: #ebecf0;
   text-shadow: 1px 1px 0 #fff;
}

label {
   display: block;
   margin-bottom: 0.1em;
   margin-top: 1em;
   color: #61677c;
   font-size: 1.4em;
}

.field,
select {
   box-shadow: inset 2px 2px 5px #babecc, inset -5px -5px 10px #fff;
   box-sizing: border-box;
   transition: all 0.2s ease-in-out;
   font-size: 1.6em;
   &:focus {
      box-shadow: inset 1px 1px 2px #babecc, inset -1px -1px 2px #fff;
   }
}

button,
input[type="file"]::file-selector-button {
   color: #61677c;
   box-shadow: -5px -5px 20px #fff, 5px 5px 20px #babecc;
   transition: all 0.2s ease-in-out;
   cursor: pointer;
   &:hover {
      box-shadow: -2px -2px 5px #fff, 2px 2px 5px #babecc;
   }

   &:active {
      box-shadow: inset 1px 1px 2px #babecc, inset -1px -1px 2px #fff;
   }
}
input[type="file"]::file-selector-button,
select {
   margin-bottom: 0.3em;
   margin-top: 0.5em;
   color: #61677c;
}
button {
   margin-top: 1.3em;
   height: 20%;
   margin-left: auto;
   /* width: 60%; */
   /* color: #3498db; */
}

.otherOptions {
   margin-top: 2em;
}
button {
   padding: 1em 1em;
}
.left-div {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}
form a {
   font-size: 1.4em;
   color: #3498db;
}

.right-div img {
   margin-top: 9vh;
   width: 26vw;
}
