<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>Document</title>
   </head>
   <body>
      <div class="card-wrapper">
         <div class="card">
            <h1 class="center">Dashboard</h1>
            <p class="center">You are currently logged in.</p>

            <div class="center">
               <a href="/user/signout" class="btn btn--secondary">Sign Out</a>
            </div>
         </div>

         <div class="card">
            <h2 class="center">Your Info</h2>
            <p>
               <strong>ID:</strong> {{ session['user']['_id'] }}<br />
               <strong>Name:</strong> {{ session['user']['name'] }}<br />
               <strong>Email:</strong> {{ session['user']['email'] }}
               <img src="{{session['user']['profile']}}" alt="Profile" />
            </p>
         </div>
      </div>

      <button>
         <a href="/user/select/"> Check your Attendance</a>
      </button>
   </body>
   <!-- <script src="{{ url_for('static', filename='./Javascript/jquery.js') }}"></script> -->
   <!-- <script src="{{ url_for('static', filename='./Javascript/year.js') }}"></script> -->
</html>
