<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>AttenEase | Login</title>

      <link
         rel="stylesheet"
         href="{{ url_for('static', filename = 'Stylesheets/login.css') }}"
      />
      <link rel="preconnect" href="https://fonts.googleapis.com" />
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
      <link
         href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap"
         rel="stylesheet"
      />
   </head>
   <body>
      <nav>
         <div class="menu">
            <input type="checkbox" id="check" />
            <div class="logo"><a href="#">AttendEase</a></div>
            <ul>
               <label class="btn cancel" for="check"
                  ><i class="fas fa-times"></i
               ></label>
               <li><a href="#">Home</a></li>
               <li><a href="#">About</a></li>
               <li><a href="#">Services</a></li>
               <li><a href="#">Contact</a></li>
               <!-- <li><a href="#">Feedback</a></li> -->
            </ul>
            <label for="check" class="btn bars"
               ><i class="fas fa-bars"></i
            ></label>
            <!-- </div> -->
         </div>
      </nav>
      <h2>Login to your account</h2>
      <div class="hero">
         <div class="left">
            <!-- <img src="../static/assets/login-page-img1.jpg" alt="" /> -->
         </div>
         <div class="middle">
            <form name="login_form">
               <div>
                  <label for="email">Email</label>
                  <input type="email" name="email" class="field" required />
               </div>
               <div>
                  <label for="password">Password</label>
                  <input
                     type="password"
                     name="password"
                     class="field"
                     required
                  />
               </div>
               <h5 class="error error--hidden"></h5>
               <button type="submit">Log In</button>
               <a href="/">New User Register Instead</a>
               <a href="/admin">Admin?</a>
            </form>
         </div>

         <div class="right">
            <img src="../static/assets/login-page-img2.png" alt="" />
         </div>
      </div>
   </body>

   <script src="{{ url_for('static', filename='./Javascript/jquery.js') }}"></script>
   <script src="{{ url_for('static', filename='./Javascript/login.js') }}"></script>
   <!-- <script src="../static/Javascript/jquery.js"></script> -->
   <!-- <script src="../static/Javascript/login.js"></script> -->
</html>
