<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>Face Recoginition</title>
      <link rel="preconnect" href="https://fonts.googleapis.com" />
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
      <link
         href="https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap"
         rel="stylesheet"
      />
      <link
         rel="stylesheet"
         href="{{ url_for('static', filename = 'Stylesheets/nav.css') }}"
      />
      <link
         rel="stylesheet"
         href="{{ url_for('static', filename = 'Stylesheets/selectMonth.css') }}"
      />
   </head>
   <body>
      <nav>
         <div class="menu">
            <input type="checkbox" id="check" />
            <div class="logo"><a href="#">AttendEase</a></div>
            <ul>
               <label class="btn cancel" for="check"
                  ><i class="fas fa-times"></i
               ></label>
               <li><a href="#">Home</a></li>
               <li><a href="#">About</a></li>
               <li><a href="#">Services</a></li>
               <li><a href="#">Contact</a></li>
               <!-- <li><a href="#">Feedback</a></li> -->
            </ul>
            <label for="check" class="btn bars"
               ><i class="fas fa-bars"></i
            ></label>
            <!-- </div> -->
         </div>
      </nav>

      <div class="container">
         <div class="leftContainer">
            <div class="info">Select the Appropriate Year</div>
            <form name="month-def-form">
               <select name="selectOption">
                  <option selected>Select The Year</option>
                  <option value="FY-IT" name="Fy">FY-IT</option>
                  <option value="SY-IT" name="Sy">SY-IT</option>
                  <option value="TY-IT" name="Ty">TY-IT</option>
               </select>

               <select name="selectMonth">
                  <option selected>Select The Month</option>
                  <option value="January" name="January">January</option>
                  <option value="February" name="Sy">February</option>
                  <option value="March" name="Ty">March</option>
                  <option value="April" name="Ty">April</option>
                  <option value="May" name="Ty">May</option>
                  <option value="June" name="Ty">June</option>
                  <option value="July" name="Ty">July</option>
                  <option value="August" name="Ty">August</option>
                  <option value="September" name="Ty">September</option>
                  <option value="October" name="Ty">October</option>
                  <option value="November" name="Ty">November</option>
                  <option value="December" name="Ty">December</option>
               </select>
               <button class="btn btnnextButton"><b>Next</b></button>
               <p class="error error--hidden"></p>
            </form>
         </div>
         <div class="rightContainer">
            <img
               src="{{ url_for('static',
            filename='./assets/selectMonth-img1.png') }}"
            />
         </div>
      </div>
   </body>
   <script src="{{ url_for('static', filename='./Javascript/jquery.js') }}"></script>
   <script src="{{ url_for('static', filename='./Javascript/month-defaulter.js') }}"></script>
</html>
