<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>Face Recoginition</title>
      <link rel="preconnect" href="https://fonts.googleapis.com" />
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
      <link
         rel="stylesheet"
         href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
      />
      <link
         href="https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap"
         rel="stylesheet"
      />
      <link
         rel="stylesheet"
         href="{{ url_for('static', filename = 'Stylesheets/nav.css') }}"
      />
      <link
         rel="stylesheet"
         href="{{ url_for('static', filename = 'Stylesheets/selectMonth.css') }}"
      />
      <!-- <link rel="stylesheet" href="../static/Stylesheets/nav.css" /> -->
      <!-- <link rel="stylesheet" href="../static/Stylesheets/selectmonth.css" /> -->
   </head>
   <body>
      <nav>
         <div class="menu">
            <input type="checkbox" id="check1" />
            <div class="logo">
               <a href="#">AttendEase</a>
            </div>

            <!-- <ul>
               <label class="btn cancel" for="check">
                  <i class="fas fa-times"> </i>
               </label> -->

            <!-- <li><a href="#">Home</a></li>
               <li><a href="#">About</a></li>
               <li><a href="#">Services</a></li>
               <li><a href="#">Contact</a></li> -->
            <!-- </ul> -->
         </div>
      </nav>
      <label class="button bars" for="check">
         <i class="fas fa-bars"></i>
      </label>
      <input type="checkbox" aria-checked="" id="check" />
      <div class="side_bar">
         <!-- <div class="title">
            <div class="logo">AttendEase</div>
         </div>
         <ul>
            <li>
               <a href="#"><i class="fa fa-home"></i>Home</a>
            </li>
            <li>
               <a href="#"><i class="fa fa-columns"></i>Dashboard</a>
            </li>
            <li>
               <a href="#"><i class="fa fa-users"></i>Team</a>
            </li>
            <li>
               <label class="button cancel" for="check"
                  ><i class="fas fa-times"></i>
               </label>
            </li>
         </ul> -->
         <ul class="ulList">
            <!-- <li>
               <img src="{{session['user']['profile']}}" alt="Profile" />
            </li>
            <li><p>{{ session['user']['name'] }}</p></li>
            <li>
               <p>
                  <img
                     src="../static/assets/profile.png"
                     alt="Profile"
                  />Profile
               </p>
            </li>
            <li>
               <button class="logout"><b>Logout</b></button>
            </li>
            <li>
               <label class="button cancel" for="check">
                  <i class="fas fa-times"></i>
               </label>
            </li> -->
            <div>
               <img src="{{session['user']['profile']}}" alt="Profile" />
            </div>
            <div class="liDiv">
               <p>{{ session['user']['name'] }}</p>
               <br />
               <div>{{session['user']['roll']}}</div>
            </div>
            <li>
               <a href="#"
                  ><i class="fa fa-columns"></i>&nbsp;&nbsp;Dashboard</a
               >
            </li>
            <li>
               <a href="#"><i class="fa fa-users"></i>&nbsp;&nbsp;Attendance</a>
            </li>
            <li>
               <a href="#"
                  ><i class="fa fa-pen-to-square"></i>&nbsp;&nbsp;Edit</a
               >
            </li>
            <li>
               <a href="#">&nbsp;&nbsp;Logout</a>
            </li>
            <div>
               <label class="button cancel" for="check"
                  ><i class="fas fa-times"></i>
               </label>
            </div>
         </ul>
      </div>
      <div class="container">
         <div class="leftContainer">
            <div class="info">
               Kindly provide your roll number, and select the specific month
               for which you wish to access your attendance records
            </div>
            <form name="month-form">
               <label class="labelForm" for="roll">Roll Number</label>
               <input type="roll" name="roll" class="field" required />
               <label class="labelForm" for="selectMonth">Select Month</label>

               <select name="selectMonth">
                  <option selected>Select The Month</option>
                  <option value="January" name="January">January</option>
                  <option value="February" name="Sy">February</option>
                  <option value="March" name="Ty">March</option>
                  <option value="April" name="Ty">April</option>
                  <option value="May" name="Ty">May</option>
                  <option value="June" name="Ty">June</option>
                  <option value="July" name="Ty">July</option>
                  <option value="August" name="Ty">August</option>
                  <option value="September" name="Ty">September</option>
                  <option value="October" name="Ty">October</option>
                  <option value="November" name="Ty">November</option>
                  <option value="December" name="Ty">December</option>
               </select>
               <button class="btn btnnextButton"><b>Next</b></button>
               <p class="error error--hidden"></p>
            </form>
         </div>
         <div class="rightContainer">
            <img
               src="../static/assets/selectMonth-img1.png"
               alt="This is a Image"
            />
         </div>
      </div>
   </body>
   <script src="{{ url_for('static', filename='./Javascript/jquery.js') }}"></script>
   <script src="{{ url_for('static', filename='./Javascript/month.js') }}"></script>
</html>
